body{
    width: 100vw;
    height: 20vh;
 font-family: 'Poppins',sans-serif ;
    align-items: center;
    justify-content: center;
    background-color: #070611;
    margin: 0;
}
nav ul {
    list-style-type: none;
    /* margin-top: 0px; */
    margin: 32px;
    padding: 15px;
    overflow: hidden;
    /* background-color: rgba(255, 255, 255, 0.13); */
}

nav ul li a {
    font-weight: bold;
    font-size: large;
    text-align: right;
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;

    text-decoration: none;
}
a:hover{
    
    padding: 5px;
    border-radius: 5px;
}

nav ul li {
    display: inline-block;
    /* width: 100px; */
    padding: 0px 20px 0px 20px;
    float: right;
}
nav ul img{
    height: 120px;
    width: 120px;
    margin-top: -54px;
}