body {
    /* display: flex; */
    width: 100vw;
    height: 20vh;
 font-family: 'Poppins',sans-serif ;
    align-items: center;
    justify-content: center;
background-color: #070611;
    /* background-image: url("background.jpg"); */
    margin: 0px;
}


nav ul {
    list-style-type: none;
    /* margin-top: 0px; */
    margin: 32px;
    padding: 15px;
    overflow: hidden;
    /* background-color: rgba(255, 255, 255, 0.13); */
}

nav ul li a {
    font-weight: bold;
    font-size: large;
    text-align: right;
    float: right;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;

    text-decoration: none;
}
a:hover{
    
    padding: 5px;
    border-radius: 5px;
}

nav ul li {
    display: inline-block;
    /* width: 100px; */
    padding: 0px 20px 0px 20px;
    float: right;
}
nav ul img{
    height: 120px;
    width: 120px;
    margin-top: -54px;
}
.quote p {
    font-family: stoic-regular ;
    font-size: 35px;
    color: #ff512f;
    float: right;
    text-align: center;
    margin-top: 95px;
    margin-right: 73px;
    transition: transform 1.5s;
}
.quote p:hover{
    color: #f09819;
    transform: scale(1.25);
    cursor:pointer;
    
}
/* img {

    color: #ffffff;
    margin-top: -15px;
      margin-right: 35px;
    }
    .container img {
        
        float: right;
        width: 777px;
        height: 472px;
    } */
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.background1 .shape1{
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: 554px;
    top: 113px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: 36px;
    bottom: 27px;
}

.shape1:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: 690px;
    top: 110px;
}
.shape1:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: 16px;
    bottom: 27px;
}


.container {
    /* display: inline-block; */
    font-size: 1.5rem;
    /* text-align: center; */
}

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

form{
    height: 355px;
    width: 345px;
    background-color: rgba(255, 255, 255, 0.137);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 22%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
/* .social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
 */
